* {
  font-family: "Kanit", sans-serif;
}
header {
  background-color: #55370b;
  color: #fff;
  display: block;
  font-variant: small-caps;
  text-align: center;
}
.header__banner h1 {
  position: relative;
  margin: 0;
  padding: 15px 0px;
}
body {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main {
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.6);
}
footer {
  background-color: #55370b;
  color: white;
  padding: 50px;
}
.footer__contenedor {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
}
.footer__contenedor--izq {
  padding: 10px 0;
}
.footer__contenedor--der {
  padding: 10px 0;
  text-align: end;
}
.footer__info {
  text-align: center;
}
.row {
  display: flex;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.space {
  flex-grow: 0.4;
}
.ejercicio {
  flex-grow: 1;
}
.ejercicio__title {
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;
}
.ejercicio__enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ejercicio__enlaces a {
  display: block;
  padding: 20px;
}
.row.title {
  background-color: rgba(0, 0, 0, 0.685);
  color: #fff;
  padding: 20px;
}
